body { font-family: 'Trebuchet MS', 'Lucida Grande', Verdana, Arial, Sans-Serif; }
a { text-decoration: none; color: #55B; }
a:visited { color: #55B; }
table { border-collapse: collapse; width: 100%; margin-bottom: 2em; }
caption { background-color: #e6e6ff; padding: 0.2em 2.5em; }
tr.head { background-color: #ccf; border-bottom: 2px solid black; }
tr.head th { padding: 0.3em 1em 0.3em 0em; text-align: left; }
tr.head th:first-child { padding-right: 3em; padding-left: 0.5em; }
tr.az { border-top: 1px solid #aaa; }
tr.az td { padding: 5px 0.7em 5px 0; vertical-align: top; }
tr.az td:first-child { border-bottom: 1px solid #aaa; padding-left: 0.5em; }
tr.ds { border-bottom: 1px solid #aaa; }
tr.ds td { padding-bottom: 5px; }
tr.bl { border-bottom: 1px solid #aaa; }
tr.bl td:first-child { padding-left: 0.5em; }
.extrainfo { position: relative; border: 1px solid #DDD; margin-left: 0.5em; padding: 0 0.2em; background-color: #FFD; cursor: default; }
.extrainfo .extrainfosup { position: absolute; border: 1px solid #000; padding: 1em; background-color: #FFB; display: none; min-width: 17em; }
.extrainfo:hover { border-color: #000; background-color: #FFB; }
.extrainfo:hover .extrainfosup { display: block; }

tbody.highlight { background-color: #FFB; }
tbody .anchor { position: relative; left: -24px; height: 0; margin: 0; padding: 0; opacity: 0; cursor: pointer; }
tbody:hover .anchor { opacity: 0.5; }
tbody:hover .anchor:hover { opacity: 1; }

caption.highlight { background-color: #FDD; }
caption .anchor { float: left; position: relative; left: -24px; height: 0; margin: 0; padding: 0; opacity: 0; cursor: pointer; }
caption:hover .anchor { opacity: 0.5; }
caption:hover .anchor:hover { opacity: 1; }
